@{
    string baidithi = ViewData["DiThi"] as string;
}


<h1>@baidithi</h1>

  <!-- IMAGE BOX -->
<div class="flat-row no-padding">
    <div class="container-fluid container-width-94">
        <div class="row gutter-10">
            <div class="col-md-8">
                <div class="divider h0"></div>
                <div class="flat-image-box style-2 flat-carousel-box has-bullets bullet-circle bullet-absolute" data-gap="0" data-auto="true" data-column="1" data-column2="1" data-column3="1">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://placehold.co/1173x620"  alt="Image">
                                    <div class="text-wrap">
                                        <p class="sub-title">Fall - Winter</p>
                                        <h2 class="title text-accent">New Collections</h2>
                                        <a href="#" class="themesflat-button bg-accent has-padding-36">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://placehold.co/1173x620"  alt="Image">
                                    <div class="text-wrap">
                                        <p class="sub-title">Fall - Winter</p>
                                        <h2 class="title text-accent">New Collections</h2>
                                        <a href="#" class="themesflat-button bg-accent has-padding-36">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="inner">
                                <div class="thumb">
                                    <img src="https://placehold.co/1173x620"  alt="Image">
                                    <div class="text-wrap">
                                        <p class="sub-title">Fall - Winter</p>
                                        <h2 class="title text-accent">New Collections</h2>
                                        <a href="#" class="themesflat-button bg-accent has-padding-36">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.owl-carousel -->
                </div><!-- /.flat-image-box -->
            </div><!-- /.col-md-8 -->

            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="flat-image-box style-1 absolute-left row2 data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="https://placehold.co/576x300"  alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-transparent font-weight-500 font-size-32">Women</a>
                                </div>
                                <div class="overlay-effect bg-color-2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="https://placehold.co/576x300"  alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-transparent  font-weight-500 font-size-32">Men</a>
                                </div>
                                <div class="overlay-effect bg-color-2"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.flat-image-box -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
        <div class="divider h20"></div>
        <div class="row gutter-10">
            <div class="col-md-4">
                <div class="flat-image-box style-1 absolute-left data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="https://placehold.co/576x300"  alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-transparent font-weight-500 font-size-32">Bags</a>
                                </div>
                                <div class="overlay-effect bg-color-2"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.flat-image-box -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="flat-image-box style-1 absolute-left data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="https://placehold.co/576x300"  alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-transparent font-weight-500 font-size-32">Shoes</a>
                                </div>
                                <div class="overlay-effect bg-color-2"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.flat-image-box -->
            </div>
            <div class="col-md-4">
                <div class="divider h0"></div>
                <div class="flat-image-box style-1 absolute-left data-effect clearfix">
                    <div class="item data-effect-item">
                        <div class="inner">
                            <div class="thumb">
                                <img src="https://placehold.co/576x300"  alt="Image">
                                <div class="elm-btn">
                                    <a href="#" class="themesflat-button bg-transparent font-weight-500 font-size-32">Accessories</a>
                                </div>
                                <div class="overlay-effect bg-color-2"></div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.flat-image-box -->
            </div>
        </div>
    </div>
</div>
<!-- END IMAGE BOX -->

<!-- PRODUCT NEW -->
<section class="flat-row row-product-new style1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin-bottom-52">
                    <h2 class="title">
                        Blog
                    </h2>
                </div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2 clearfix">
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="images/shop/sh-4/13.jpg" alt="image">
                                </a>
                                <span class="new">New</span>
                            </div>
                            <div class="product-info text-center clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                                <ul class="flat-color-list width-14">
                                    <li>
                                        <a href="#" class="red"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="blue"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="black"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>

                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="images/shop/sh-4/14.jpg" alt="image">
                                </a>
                                <span class="new">New</span>
                            </div>
                            <div class="product-info clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                                <ul class="flat-color-list width-14">
                                    <li>
                                        <a href="#" class="red"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="blue"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="black"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="images/shop/sh-4/15.jpg" alt="image">
                                </a>
                                <span class="new sale">Sale</span>
                            </div>
                            <div class="product-info clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <del>
                                        <span class="regular">$150.00</span>
                                    </del>
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="images/shop/sh-4/16.jpg" alt="image">
                                </a>
                            </div>
                            <div class="product-info clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                                <ul class="flat-color-list width-14">
                                    <li>
                                        <a href="#" class="red"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="blue"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="black"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- END PRODUCT NEW -->
        
<!-- BANNER -->
<section class="flat-row no-padding">
    <div class="container-fluid container-width-94">
        <div class="row">
            <div class="col-md-6">
                <div class="flat-gallery style-1 has-absolute data-effect">
                    <div class="item">
                        <div class="inner">
                            <div class="thumb data-effect-item">
                                <img src="images/gallery/gallery-1-870x377.jpg" style="min-width: 870px; min-height: 377px;" alt="Image">
                                <div class="text-wrap absolute-right">
                                    <p>COLLECTION 2018</p>
                                    <h2>Sale Of <span class="text-accent">30%</span></h2>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="divider h0"></div>
                <div class="flat-gallery style-1 has-absolute data-effect">
                    <div class="item">
                        <div class="inner">
                            <div class="thumb data-effect-item">
                                <img src="images/gallery/gallery-2-870x377.jpg" style="min-width: 870px; min-height: 377px;" alt="Image">
                                <div class="text-wrap absolute-left">                                           
                                    <h2>Summer<span class="text-accent"> Sale</span></h2>
                                    <p class="letter-spacing-1 font-weight-500">UP TO 70%</p>
                                </div>
                                <div class="overlay-effect bg-color-1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END BANNER -->

<!-- PRODUCT -->
<section class="flat-row row-best-sale style1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">Best Sale</h2>
                </div>
                <div class="divider h23"></div>
                <div class="product-content product-fourcolumn clearfix">
                    <ul class="product style2 clearfix">
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#">
                                    <img src="images/shop/sh-4/1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="product-info clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                                <ul class="flat-color-list width-14">
                                    <li>
                                        <a href="#" class="red"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="blue"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="black"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#">
                                    <img src="images/shop/sh-4/2.jpg" alt="image">
                                </a>
                                <span class="new">New</span>
                            </div>
                            <div class="product-info clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="images/shop/sh-4/3.jpg" alt="image">
                                </a>
                            </div>
                            <div class="product-info clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>
                        <li class="product-item">
                            <div class="product-thumb clearfix">
                                <a href="#" class="product-thumb">
                                    <img src="images/shop/sh-4/4.jpg" alt="image">
                                </a>
                                <span class="new sale">Sale</span>
                            </div>
                            <div class="product-info clearfix">
                                <span class="product-title">Cotton White Underweaer Block Out Edition</span>
                                <div class="price">
                                    <del>
                                        <span class="regular">$120.00</span>
                                    </del>
                                    <ins>
                                        <span class="amount">$100.00</span>
                                    </ins>
                                </div>
                                <ul class="flat-color-list width-14">
                                    <li>
                                        <a href="#" class="red"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="blue"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="black"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="add-to-cart text-center">
                                <a href="#">ADD TO CART</a>
                            </div>
                            <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                        </li>                                
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END PRODUCT -->

<!-- INSTAGRAM -->
<section class="flat-row row-instagram">
    <div class="container-fluid container-width-94">
        <div class="title-section style-2">
            <h2 class="title">Shop by Instagram</h2>
        </div>
        <div class="instagram-wrap style-1 col5 g10 data-effect">
            <div class="instagram_badge_image">
                <div class="thumb data-effect-item">
                    <img src="https://placehold.co/337x280" alt="Image">
                    <div class="text-wrap">
                        <div class="elm-btn has-icon icon-left">
                            <a href="#" class="themesflat-button bg-white"><span>Follow Us On Instagram<span class="icon"><i class="fa fa-instagram"></i></span></span></a>
                        </div>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                </div>
            </div><!-- /.instagram_badge_image -->
            <div class="instagram_badge_image">
                <div class="thumb data-effect-item">
                    <img src="https://placehold.co/337x280" alt="Image">
                    <div class="text-wrap">
                        <div class="elm-btn has-icon icon-left">
                            <a href="#" class="themesflat-button bg-white"><span>Follow Us On Instagram<span class="icon"><i class="fa fa-instagram"></i></span></span></a>
                        </div>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                </div>
            </div><!-- /.instagram_badge_image -->
            <div class="instagram_badge_image">
                <div class="thumb data-effect-item">
                    <img src="https://placehold.co/337x280" alt="Image">
                    <div class="text-wrap">
                        <div class="elm-btn has-icon icon-left">
                            <a href="#" class="themesflat-button bg-white"><span>Follow Us On Instagram<span class="icon"><i class="fa fa-instagram"></i></span></span></a>
                        </div>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                </div>
            </div><!-- /.instagram_badge_image -->
            <div class="instagram_badge_image">
                <div class="thumb data-effect-item">
                    <img src="https://placehold.co/337x280" alt="Image">
                    <div class="text-wrap">
                        <div class="elm-btn has-icon icon-left">
                            <a href="#" class="themesflat-button bg-white"><span>Follow Us On Instagram<span class="icon"><i class="fa fa-instagram"></i></span></span></a>
                        </div>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                </div>
            </div><!-- /.instagram_badge_image -->
            <div class="instagram_badge_image">
                <div class="thumb data-effect-item">
                    <img src="https://placehold.co/337x280" alt="Image">
                    <div class="text-wrap">
                        <div class="elm-btn has-icon icon-left">
                            <a href="#" class="themesflat-button bg-white"><span>Follow Us On Instagram<span class="icon"><i class="fa fa-instagram"></i></span></span></a>
                        </div>
                    </div>
                    <div class="overlay-effect bg-color-2"></div>
                </div>
            </div><!-- /.instagram_badge_image -->
        </div>
    </div>
</section>
<!-- END INSTAGRAM -->